<style>
    .calendar_wrapper {
        border: 1px solid green;
        width: 650px;
        height: 490px;
    }

    .inner_wrapper {
        border: 1px solid red;
    }

    .c_item {
        padding: 10px;
    }
</style>

<!--Range Calendar Wrapper-->
<div class="calendar_wrapper MnLtRtAo Pg10">
    <!--Inner Wrapper-->
  <div class="inner_wrapper PnRe PgLtRt20 DyFx FxJyCtCr">
      <button class="PnAe PnTp0 PnLt0" type="button"><</button>
      <button class="PnAe PnTp0 PnRt0" type="button">></button>
      <!--Main Left-->
      <div class="calendar_left">
          <h3 class="TtAnCr">May 20</h3>
          <table>
              <thead>
                  <tr>
                      <th>
                          <div class="c_item">Su</div>
                      </th>
                      <th>
                          <div class="c_item">Mo</div>
                      </th>
                      <th>
                          <div class="c_item">Tu</div>
                      </th>
                      <th>
                          <div class="c_item">We</div>
                      </th>
                      <th>
                          <div class="c_item">Th</div>
                      </th>
                      <th>
                          <div class="c_item">Fr</div>
                      </th>
                      <th>
                          <div class="c_item">Sa</div>
                      </th>
                  </tr>
              </thead>
          </table>
      </div>
      <!--Main Right-->
      <div class="calendar_right">
          <h3 class="TtAnCr">May 20</h3>
            <table>
                <thead>
                    <tr>
                        <th>
                            <div class="c_item">Su</div>
                        </th>
                        <th>
                            <div class="c_item">Mo</div>
                        </th>
                        <th>
                            <div class="c_item">Tu</div>
                        </th>
                        <th>
                            <div class="c_item">We</div>
                        </th>
                        <th>
                            <div class="c_item">Th</div>
                        </th>
                        <th>
                            <div class="c_item">Fr</div>
                        </th>
                        <th>
                            <div class="c_item">Sa</div>
                        </th>
                    </tr>
                </thead>
            </table>
      </div>
  </div>
</div>