<style>
    @@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    * {
        font-family: 'Roboto', sans-serif;
    }

    .calendar_header {
        box-shadow: 0 9px 10px -4px #0003;
    }

    .calendar_wrapper {
        width: 650px;
        box-shadow: 0 0 5px #0003;
    }

    .inner_wrapper {

    }

    .c_item {
        padding: 10px;
    }

    .calendar_table {
        table-layout: fixed;
    }
</style>

<!--Range Calendar Wrapper-->
<div class="calendar_wrapper MnLtRtAo BrRs5">
    <!--Calender Header-->
    <div class="calendar_header DyFx Gp20 Pg15">
        <div class="date_from">
            <p class="Mn0">
                <i class="fa-regular fa-calendar"></i>
                <span>1 May 2023</span>
            </p>
        </div>
        <p class="Mn0">-</p>
        <div calss="date_to">
            <p class="Mn0">
                <i class="fa-regular fa-calendar"></i>
                <span>1 May 2023</span>
            </p>
        </div>
    </div>
    <!--Inner Wrapper-->
  <div class="inner_wrapper PnRe Pg20 DyFx FxJyCtCr">
      <!--Main Left-->
      <div class="calendar_left">
          <div class="PnRe DyFx">
            <button class="PnAe PnLt0" type="button"><</button>
            <!--Calendar Title-->
            <div class="calendar_title DyFx FxJyCtCr Gp5 FtSz22 FxAnImCr Wh100p">
                <h3>May</h3>
                <span class="FtWt100">2023</span>
            </div>
          </div>
            <table class="calendar_table Wh100p">
              <thead>
                  <tr>
                      <th>
                          <div class="c_item">Su</div>
                      </th>
                      <th>
                          <div class="c_item">Mo</div>
                      </th>
                      <th>
                          <div class="c_item">Tu</div>
                      </th>
                      <th>
                          <div class="c_item">We</div>
                      </th>
                      <th>
                          <div class="c_item">Th</div>
                      </th>
                      <th>
                          <div class="c_item">Fr</div>
                      </th>
                      <th>
                          <div class="c_item">Sa</div>
                      </th>
                  </tr>
              </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>
                </tbody>
          </table>
      </div>
      <!--Main Right-->
      <div class="calendar_right">
          <div class="PnRe DyFx">
            <!--Calendar Title-->
            <div class="calendar_title DyFx FxJyCtCr Gp5 FtSz22 FxAnImCr Wh100p">
                <h3>May</h3>
                <span class="FtWt100">2023</span>
            </div>
            <button class="PnAe PnRt0" type="button">></button>
          </div>
            <table class="calendar_table Wh100p">
                <thead>
                    <tr>
                        <th>
                            <div class="c_item">Su</div>
                        </th>
                        <th>
                            <div class="c_item">Mo</div>
                        </th>
                        <th>
                            <div class="c_item">Tu</div>
                        </th>
                        <th>
                            <div class="c_item">We</div>
                        </th>
                        <th>
                            <div class="c_item">Th</div>
                        </th>
                        <th>
                            <div class="c_item">Fr</div>
                        </th>
                        <th>
                            <div class="c_item">Sa</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="c_item">1</div>
                        </td>
                    </tr>
                </tbody>
            </table>
      </div>
  </div>
</div>